/* ====== [ CORE ] ====== */

/* Reboot */

/* Font */
@charset "UTF-8";
:root {
  --numors-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --numors-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --numors-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Color */
:root {
  --numors-white: #ffffff;
  --numors-black: #1c1c1c;
  --numors-light-gray: #d3d3d3;
  --numors-dark-gray: #696969;
  --numors-light-metallic: #d3d3d3;
  --numors-metallic: #808080;
  --numors-dark-metallic: #696969;
  --numors-red: #ff2d55;
  --numors-dark-red: #dc3545;
  --numors-green: #30d158;
  --numors-dark-green: #32cd32;
  --numors-blue: #1e90ff;
  --numors-dark-blue: #1e90ff;
  --numors-yellow: #ffd700;
  --numors-dark-yellow: #ffc107;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Loader */

/* Extra */
*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* ====== [ LAYOUT ] ====== */

/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: var(--numors-sans-serif);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header,
main,
footer {
  margin: 0;
  padding: 0;
  animation: fadeIn 1s;
}

/* Header */

/* Main */

/* Footer */
footer {
  padding: 50px;
}

/* Navbar */

/* ====== [ HEADER ] ====== */

/* Page Header */
.page-image {
  display: block;
  height: 250px;
  margin: auto;
  border-radius: 50%;
}
.page-title {
  text-align: center;
  font-size: 30px;
  color: var(--numors-black);
}
.page-subtitle {
  text-align: center;
  font-size: 20px;
  color: var(--numors-dark-gray);
}

/* Post Header */
.post-image {
  margin: 0 auto;
}
.post-title {
  color: var(--numors-black);
}
.post-author {
  color: var(--numors-black);
}

/* Product Header */
.product-image {
  color: var(--numors-black);
}
.product-title {
  color: var(--numors-black);
}
.product-price {
  color: var(--numors-black);
}

/* ====== [ MAIN ] ====== */

/* Apps & Trends */

/* Country Selector */

/* Page Categories */
.page-categories {
  align-items: center;
  display: grid;
  grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
  grid-column-gap: 1%;
  grid-row-gap: 4%;
}
.page-category {
  /* width: 100px; */
  text-align: center;
}
.category {
  height: 150px;
  border-radius: 50%;
}
/* Filter & Sort */

/* Post Card */

/* Text */
h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
h5 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
h6 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
ol,
ul {
  padding-left: 2rem;
}

/* ====== [ Quote ] ====== */
.quote {
  font-size: 20px;
}
.author {
  font-size: 20px;
}

/* Code */
pre,
code,
kbd,
samp {
  font-family: var(--numors-font-monospace);
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

/* Link */
a {
  color: #0d6efd;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #0a58ca;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

/* Button */
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
[list]::-webkit-calendar-picker-indicator {
  display: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

/* Image */
figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

/* Video */
video {
  width: 100%;
  aspect-ratio: 16/9;
}

/* Table */
table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
label {
  display: inline-block;
}

/* Form */
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

/* Accordion */

/* Modal */

/* Releted Post */

/* Ad */

/* ====== [ FOOTER ] ====== */

/* Footer Link */
.footer-link {
  list-style: none;
  display: inline;
  padding: 5px;
}

/* Help Center */

/* Copyright Info */
.copyright-info {
  text-align: center;
  padding-bottom: 25px;
  font-size: 15px;
}

/* ====== [ NAV BAR ] ====== */
nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 48px;
  background-color: #b6b6b6;
}
.nav-bar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
.nav-item {
  width: 50%;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 3rem;
  transition: 600ms;
  justify-content: center;
}
.nav-icon,
.nav-icon-active {
  height: 20px;
  width: auto;
}
.nav-icon {
  filter: grayscale(100%) opacity(0.7);
}
.nav-icon:hover,
.nav-icon-active {
  filter: grayscale(0%) opacity(1);
}

/* ====== [ MEDIA QUERY ] ====== */

/* No media query for small portrait phone since this is the default */

/* Small Device, Landscape Phone */
@media (orientation: landscape) {
  h1 {
    font-size: 20px;
  }
}

/* Small Device, Landscape Phone */
@media (min-width: 576px) and (orientation: portrait) {
  h1 {
    font-size: 20px;
  }
}

/* Small Device, Landscape Phone */
@media (min-width: 576px) and (orientation: landscape) {
  h1 {
    font-size: 20px;
  }
}

/* Medium device, Tablet */
@media (min-width: 768px) and (orientation: portrait) {
  h1 {
    font-size: 20px;
  }
}

/* Medium device, Tablet */
@media (min-width: 768px) and (orientation: landscape) {
  h1 {
    font-size: 20px;
  }
}

/* Large device, Desktop */
@media (min-width: 992px) and (orientation: portrait) {
  h1 {
    font-size: 20px;
  }
}

/* Large device, Desktop */
@media (min-width: 992px) and (orientation: landscape) {
  header,
  main,
  footer {
    margin-left: 6rem;
    padding: 1rem;
  }
  nav {
    position: fixed;
    top: 0;
    width: 64px;
    height: 100vh;
    background-color: #b6b6b6;
  }
  .nav-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .nav-item {
    width: 100%;
  }
  .nav-item {
    display: flex;
    align-items: center;
    height: 4rem;
    transition: 600ms;
  }
  .nav-icon,
  .nav-icon-active {
    height: 20px;
    width: auto;
  }
  .nav-icon {
    filter: grayscale(100%) opacity(0.7);
  }
  .nav-icon:hover,
  .nav-icon-active {
    filter: grayscale(0%) opacity(1);
  }
}

/* Large Desktop */
@media (min-width: 1200px) and (orientation: portrait) {
  h1 {
    font-size: 20px;
  }
}

/* Large Desktop */
@media (min-width: 1200px) and (orientation: landscape) {
  h1 {
    font-size: 20px;
  }
}

/* Extra Large Desktop */
@media (min-width: 1400px) and (orientation: portrait) {
  h1 {
    font-size: 20px;
  }
}

/* Extra Large Desktop */
@media (min-width: 1400px) and (orientation: landscape) {
  h1 {
    font-size: 20px;
  }
}

/* ====== [ SCROLL BAR ] ====== */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: var(--numors-light-gray);
  border: 4px solid #ffffff;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--numors-dark-gray);
  border: 4px solid #ffffff;
  border-radius: 25px;
}
